html{
    background-color: #F5EFE6;
}

body{
    font-family: MoMA Sans Web;
}


h1{
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 43px;
}
.movement-heading{
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    padding-right: 10px;;

    color: #F38181;
}

.movement-feature{
    color: #F38181;
    font-style: italic;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}

header{
    /* height: 10vh; */
}

main{
    height: auto;
    /* width: 100%;  */
    /* vertical-align: middle; */
    /* display: flex;
    flex-direction: column;
    justify-content: auto; */
}

a{
    color:black;
}

/* breadcrumb codes borrowed from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_breadcrumbs */
ul.breadcrumb {
    padding: 2px 2px;
    list-style: none;
  }

ul.breadcrumb li {
    display: inline;
    font-size: 16px;
}

ul.breadcrumb li+li:before {
    padding: 2px;
    color: black;
    content: "/\00a0";
  }

ul.breadcrumb li a {
    color: black;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #3F72AF;
    text-decoration: underline;
}

.intro-container{
    height: 12.5%;
    width: 1100px;
    margin: auto;
}

.intro-container > p{
    padding-right: 30%;
}

.timeline-container{
    /* height: 1000px; */
    vertical-align: middle;
    width: 100vw;
    /* width: 100vw; */
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    overflow: auto; 

}

.timeline-bar{
    z-index: 0;
    /* height: 800px; */
    width: 100%;
    vertical-align: middle;
    margin: auto;
    position: absolute;
    top: 60%;
}

.timeline{
    width: 100vw;
    display: flex;
    height: 10px;
    background-color: #0F4C75;
    justify-content: space-between;
}

.movement-container{
    margin: auto;
    z-index: 1;
    /* position: absolute; */
    
    width: 1100px;
    height: 70%;
}

.movement-box{
    position: absolute;

}

.movement-bar{
    height: 15px;
    width: 100px;
    border-radius: 7px;
    text-align: center;
    /* background-color: attr(data-color); */
}

#Neoclassicism{
    top: 90%;
}

#Neoclassicism > div{
    background-color: #D4A5A5;
    width: 513px;
}

#Romanticism{
    top: 80%;
    left: 220px;
}

#Romanticism > div{
    background-color: #A6D0E4;
    width: 366.67px;
}

#Realism{
    top: 70%;
    left: 513px;
}

#Realism > div{
    background-color: #FCC433;
    width: 220px;
}

#Impressionism{
    top: 50%;
    left: 806px;
}

#Impressionism > div{
    background-color: #F38181;
    width: 220px;
}

#Post-Impressionism{
    top: 40%;
    left: 806.7px;
}

#Post-Impressionism > div{
    background-color: #FFB319;
    width: 293.3px;
}

#Symbolism{
    top: 30%;
    left: 806.7px;
}

#Symbolism > div{
    background-color: #95E1D3;
    width: 220px;
}

.movement-bar:hover{
    height: 45px;
}

.dot-container{
    margin: auto;
    width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.timetick{
    width: 3px;
    height: 25px;
    background-color: #DBE2EF;
    /* z-index: -1; */
    /* position: relative; */
    /* top: -17.5px; */
}

.timedot{
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    align-items: center;
    position: relative;
    top: -17.5px;
    z-index: -1;
}

.painting-thumbnail{
    width: 150px;
}

.painting-container{
    /* to do */
    height: 100%;
}

/* .painting-dot{ */
.painting-container div{
    display: inline-block;
    position: relative;
}

.painting-container div:nth-child(odd){
    top: -80px;
}

.painting-container div:nth-child(even){
    bottom: -80px;
}