html{
    background-color: #F5EFE6;
}

body{
    font-family: MoMA Sans Web;
}

p{
    font-size: 14px;
    padding: 0px;
    margin: 5px 0px 0px 0px;
}


h1{
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    margin: 10px 50px 0px auto;
}
.movement-heading{
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    padding-right: 10px;;

    color: #F38181;
}

.movement-feature{
    color: #F38181;
    font-style: italic;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}

header{
    /* height: 10vh; */
}

main{
    height: auto;
    /* width: 100%;  */
    /* vertical-align: middle; */
    /* display: flex;
    flex-direction: column;
    justify-content: auto; */
}

a{
    color:black;
}

/* breadcrumb codes borrowed from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_breadcrumbs */
ul.breadcrumb {
    margin: 10px auto 10px uto;
    padding: 2px 2px;
    list-style: none;
  }

ul.breadcrumb li {
    display: inline;
    font-size: 16px;
}

ul.breadcrumb li+li:before {
    padding: 2px;
    color: black;
    content: "/\00a0";
  }

ul.breadcrumb li a {
    color: black;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #3F72AF;
    text-decoration: underline;
}

.intro-container{
    height: 12.5%;
    width: 1100px;
    margin: auto;
}

.intro-container > p{
    /* padding-right: 30%; */
}

.timeline-container{
    /* height: 1000px; */
    vertical-align: middle;
    width: 100vw;
    /* width: 100vw; */
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    overflow: auto; 
    padding: 20px;

}

.timeline-bar{
    z-index: 0;
    /* height: 800px; */
    width: 100%;
    vertical-align: middle;
    margin: auto;
    position: absolute;
    top: 60%;
}

.timeline{
    width: 100vw;
    display: flex;
    height: 10px;
    background-color: #0F4C75;
    justify-content: space-between;
}

.movement-container{
    margin: auto;
    z-index: 1;
    /* position: absolute; */
    
    width: 1100px;
    height: 70%;
}

.movement-box{
    position: absolute;

}

.movement-bar{
    height: 15px;
    width: 100px;
    border-radius: 7px;
    text-align: center;
    /* background-color: attr(data-color); */
}

#Neoclassicism{
    top: 85%;
}

#Neoclassicism > div{
    background-color: #D4A5A5;
    width: 513px;
}

#Romanticism{
    top: 76.5%;
    left: 220px;
}

#Romanticism > div{
    background-color: #A6D0E4;
    width: 366.67px;
}

#Realism{
    top: 68%;
    left: 513px;
}

#Realism > div{
    background-color: #FCC433;
    width: 220px;
}

#Impressionism{
    top: 50%;
    left: 806px;
}

#Impressionism > div{
    background-color: #F38181;
    width: 220px;
}

#Post-Impressionism{
    top: 40%;
    left: 806.7px;
}

#Post-Impressionism > div{
    background-color: #FFB319;
    width: 293.3px;
}

#Symbolism{
    top: 30%;
    left: 806.7px;
}

#Symbolism > div{
    background-color: #95E1D3;
    width: 220px;
}


.movement-bar:hover{
    height: 35px;
}

.dot-container{
    margin: auto;
    width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.timetick{
    width: 3px;
    height: 25px;
    background-color: #DBE2EF;
    /* z-index: -1; */
    /* position: relative; */
    /* top: -17.5px; */
}

.timedot{
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    align-items: center;
    position: relative;
    top: -17.5px;
    z-index: -1;
}
/* movement page*/
.movement-heading{
    font-size: 24px;
}

/* .painting-line{
    width: 2px;
    height: 100px;
    color:#F38181;
    border-style: dashed;
    position: absolute;
    top: 0px;
} */
.painting-thumbnail{
    max-width: 180px;
    max-height: 160px;
    /* position: absolute; */
    left: -2px;
}

.painting-container{
    /* to do */
    margin: auto;
    z-index: -1;
    /* position: absolute; */
    
    width: 1100px;
    height: 70%;
}

/* .painting-container div{
    display: inline-block;
    position: relative;
} */

.painting-box{
    vertical-align: bottom;
    position: absolute;
    height: 50%;
    /* bottom: 0px; */
    border-left: #F38181 dashed;
    z-index: -1;

}


.painting-container>div:nth-child(odd){
    bottom: 0;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
}

.painting-container>div:nth-child(even){
    top: 30%;
    height: 30%;
}

/* .painting-container div:nth-child(odd) img{
    bottom: 0px;
} */

.painting-container div:nth-child(even) img{
    top: 45px;    
}
.painting-container div:nth-child(even) div{
    top: 0px;    
}

.painting-intro{
    height: auto;
    margin: auto auto 0px 5px;
    padding: 0px;
    vertical-align: bottom;
}

.thumbnail-heading{
    font-size: 14px;
    font-weight: 600;
    margin: 0px;
    padding: auto;
}

.subtitle{
    font-size: 14px;
    font-style: italic;
}

#I1{
    left: 150px;
}

#I2{
    left: 400px;
}

#I3{
    left: 400px;
}
#I4{
    left: 615px;
}
#I5{
    left: 950px;
    width: 175px;
    border-left: none;
    border-right: #F38181 dashed;
    text-align: right;
}
